<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.aircnc.search.SearchMapper">
	
	
	<select id="searchListTwo" parameterType="String" resultType="HostUserVO">
		SELECT room_title, r_dt
		FROM host_user
		WHERE addr like '%${addr}%'

	</select>
	
	
</mapper>