html body{
	margin: 0;
	padding: 0;
	height:100%;
	width: 100%;
}
/*body 자식 태그 css*/
.container{
	display: flex;
    flex-direction: column;
    position: absolute;
	width: 100%;
	height: 100%;
}

.content{
	display: flex;
	flex-direction: row;
	flex-grow:1;
}

.list {
	flex-grow:1;
}

.map{
	flex-grow:1;
}


.search{
	height:50px;
}
/*리스트 내용 css*/
 .m_ctnt{
   display: flex;
   flex-direction: row;
   flex-grow: 1;
   justify-content: space-around;
  
}

.slideshow{
    flex-grow: 1;
     cursor:pointer;
    
}
.sub_ctnt{
    flex-grow: 1;
    
}

.ms_ctnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.sub_sfee{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fas {
	cursor: pointer;
}
/*이미지 slide css*/
.mySlides {display: none}
img {vertical-align: middle;}


.slideshow-container {
 width: auto; height: auto;
 max-width: 350px;
 max-height: 500px;
 position: relative;
 margin: 10px;
 
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 1px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


	

/*레이어 팝업 css*/
 .modal {
     display: none; 
     position: fixed;
     z-index: 1; 
     left: 0;
     top: 0;
     width: 100%; 
     height: 100%; 
     overflow: auto;
     background-color: rgb(0,0,0); 
     background-color: rgba(0,0,0,0.4); 
 }

/* 파업창 속성*/
 .modal-content {
     background-color: #fefefe;
     margin: 15% auto; 
     padding: 20px;
     border: 1px solid #888;
     width: 50%;                    
 }
 /* 닫기 Button */
 .close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
 }
 .close:hover,
 .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
 }
.fiter_type{
  display: none;
  position:absolute; 
  top: 170px;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.fiter_fee{
  display: none;
  position:absolute;
  top: 170px;
  left: 70px;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

