html body{
	margin: 0;
	padding: 0;
	height:100%;
	width: 100%;
}
header {
    height: 80px;
    border-bottom: 1px solid lightgrey;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header #logo {
    height: 40px;
    position: relative;
    left: 70px;
}
header #menubutton {
    height: 43px;
    width: 80px;
    border-radius: 20px;
    border: 1px solid lightgrey;
    position: relative;
    right: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header #menubutton #ham {
    height: 15px;
    position: relative;
    top: 2px;
    left: 5px;
}
header #menubutton #profile {
    width: 34px;
    height: 34px;
    border-radius: 70%;
    overflow: hidden;
    background-color: salmon;   
}
header #menubutton #profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header #menuctnt {
	display: none;
    background-color: white;
    border-radius: 13px;
    margin: 0px;
    padding: 8px 0px;
    overflow: hidden;
    position: absolute;
    top: 75px;
    right: 70px;
    border: 1px solid lightgrey;
    z-index: 10;
}
header #menuctnt li {
    list-style: none;
    padding: 10px 15px;
}
header #menuctnt .b {
	font-weight: bold;
}
header #menuctnt .line {
    color: #e5e5e5;
}
#menuctnt a {
	text-decoration: none;
    color: black;
}

#detailContainer{
	padding:60px;
	padding:10px;
}

#picContainer > #srcImg{
	width:400px;
	height:400px;
}

.line {
    color: #e5e5e5;
}
hr{
	border:1px solid;
	color: #e5e5e5;
}
#flexContainer {
	display:flex;
	padding:10px;
}

#detailDes {
	display:flex;
	flex-direction:column;
	flex-grow:1;
	width:400px;
}

#msgContainer {
	display:flex;
	flex-direction:column;
	padding:15px;
	flex-grow:1;
}

#msgContainer > #msgAli {
	display:flex;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  height:70px;
  width:200px;
  border-radius: 10px / 10px;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

